*{
    margin: 0;
    padding: 0;
}
.background{
    background-color: #0f00a5;
}
.navbar-light .navbar-brand{
    font-size: 2em;
}

.navbar-light .btn-outline-success{
    color:black;
    border-color: black;
}

.navbar-light .btn-outline-success:hover{
    color: #ffffff;
    background-color:#686161;
    border-color: #686161;
}

#pokemons-container{
    display: flex;
    flex-wrap: wrap;
}

.card-title{
    align-self: center;
    font-family: fantasy;
    font-family: 'Girassol', cursive;
    font-weight: bold;
    font-size: 21px;
}
.card-text{
    font-family: 'Noto Sans KR', sans-serif;
    align-self: center;
}
.card-tipo{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    
}